
@model FileUploadViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
    Start Uploading Files Here
</h4>

<hr />

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}

<form method="post" enctype="multipart/form-data">


    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />

    <button asp-controller="File" asp-action="UploadToFileSystem" type="submit" class="btn btn-primary">
        Upload to File System
    </button>
    <button asp-controller="File" asp-action="UploadToDatabase" type="submit" class="btn btn-success">
        Upload to Database
    </button>

</form>

<hr />

<h4>
    Files on File System
</h4>

@if (Model.FilesOnFileSystem != null && Model.FilesOnFileSystem.Any())
{
    <caption>
        List of Files on File System
    </caption>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnFileSystem)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        <a asp-controller="File" asp-action="DownloadFileFromFileSystem" asp-route-id="@file.Id" type="button" class="btn btn-primary">
                            Download
                        </a>

                        <a asp-controller="File" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id" type="button" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>
        No Records Found
    </caption>
}

<hr />

<h4>
    Files on Database
</h4>

@if (Model.FilesOnDatabase != null && Model.FilesOnDatabase.Any())
{
    <caption>
        List of Files on Database
    </caption>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabase)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        <a asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id" type="button" class="btn btn-primary">
                            Download
                        </a>

                        <a asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id" type="button" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>
        No Records Found
    </caption>
}